@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #121826);
    color: #fff;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

.logo {
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}
.studio {
    color: #00e0ff;    
}

.BR {
    color: white;
}



.btn-instagram:hover {
    transform: scale(1.05);
}

/* HERO */

.hero {
    text-align: center;
    padding: 80px 20px 40px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    color: #bdbdbd;
    max-width: 600px;
    margin: auto;
}

/* PRICING */

.pricing {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 8%;
    flex-wrap: wrap;
}

.card {
    background: #1a1f2e;
    padding: 40px;
    border-radius: 20px;
    width: 320px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.05);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0,224,255,0.2);
}

.highlight {
    border: 2px solid #00e0ff;
}

.card h2 {
    margin-bottom: 15px;
}

.price {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
    color: #00e0ff;
}

.card ul {
    list-style: none;
    margin-bottom: 30px;
    color: #ccc;
}

.card ul li {
    margin: 10px 0;
}

/* BUTTONS */

.btn-primary {
    background: linear-gradient(90deg, #00e0ff, #00ffa3);
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.btn-secondary {
    background: transparent;
    border: 2px solid #00e0ff;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: #00e0ff;
    font-weight: 600;
    transition: 0.3s;
}

.btn-secondary:hover {
    background: #00e0ff;
    color: #000;
}

/* CTA */

.cta {
    text-align: center;
    padding: 80px 20px;
    background: #0c111d;
}

.cta h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.cta p {
    margin-bottom: 30px;
    color: #aaa;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    background: #080b13;
    font-size: 14px;
    color: #777;
}

/* RESPONSIVO */

@media(max-width: 768px) {
    .hero h1 {
        font-size: 28px;
    }

    .pricing {
        flex-direction: column;
        align-items: center;
    }
}

